.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    padding: 6.4px 20px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    color: white;
    background-color: #11c7d9;
    display: inline-block;
    border-radius: 25px;
    vertical-align: center;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(15, 246, 239, 0.98);
}

